<div class="container-fluid footer">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 px-4 ps-lg-5">
      <img src="../../assets/img/logo_test.svg" alt="Logotipo Lease MD footer" class="img-fluid pb-5">
    </div>
    <div class="col-12 col-md-6 col-lg-3 px-4">
      <ul class="ul--footer">
        <li>
          <a href="" class="monse-bold text--cg">Nuestros productos</a>
        </li>
        <li>
          <a href="" class="text--cg">Arrendamiento de autos</a>
        </li>
        <li>
          <a href="" class="text--cg">Linea de arrendamiento</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3 px-4">
      <ul class="ul--footer">
        <li>
          <a href="" class="monse-bold text--cg">La compañia</a>
        </li>
        <li>
          <a href="" class="text--cg">Nosotros</a>
        </li>
        <li>
          <a href="" class="text--cg">Contáctenos</a>
        </li>
        <li>
          <a href="" class="text--cg">Soy cliente</a>
        </li>
        <li>
          <a href="" class="text--cg">Únete a nuestro equipo</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3 pt-4 pt-lg-0 pe-lg-5">
      <h4 class="monse-bold text--cg pb-4">Recibe nuestras promociones</h4>
      <div class="d-flex flex-row w-100">
        <input type="text" class="newsletter col-10" placeholder="Ingresa tu correo electrónico">
        <button class="btn--newsletter d-flex align-items-center justify-content-center col-2">
          <span class="material-icons text-white">
            arrow_forward
          </span>
        </button>
      </div>
    </div>
    <div class="col-12 py-5 px-3 px-lg-5">
      <div class="w-100 bg-secondary px-3" style="height: 1px;"></div>
    </div>
    <div class="col-12 d-flex justify-content-start justify-content-lg-end pe-lg-5">
      <ul class="ul--social">
        <li>
          <a href="" class="text--cg">
            <img src="../../assets/img/linkedin-logo.svg" alt="Redes sociales linkedin" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="" class="text--cg">
            <img src="../../assets/img/fb-logo.svg" alt="Redes sociales facebook" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="" class="text--cg">
            <img src="../../assets/img/twitter-logo.svg" alt="Redes sociales twitter" class="img-fluid">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>