$charleston-green : #282828;
$french-violet :#8710BE;
$bleudefrance :#3180F9;
$cultured :#F5F7FA;
$black :#000000;
$lavender-indigo :#AC68FF;
$ultramarine-blue :#5058FC;
$blueberry :#418DFF;
$white :#FFFFFF;