<app-nav-menu></app-nav-menu>
<div class="home-panel min-vh-100 container-full">
  <img src="../../../assets/img/cars.png" alt="" class="img-cars img-fluid">
  <div class="row">
    <div class="col-12 col-md-7 ps-5">
      <h2 class="monse-bold">Conduce el auto de tus sueños.</h2>
      <p class="pt-2">Tenemos para ti un plan de arrendamiento de auto seminuevo a precio preferencial y con el máximo
        beneficio
        fiscal que la ley permite.</p>
    </div>
    <div class="col-12 col-md-5">
      formulario
    </div>
  </div>
</div>