<div class="container-full">
  <div class="row">
    <div class="col-12 col-md-6 ps-4">
      <img src="../../assets/img/logo_test.svg" alt="Logotipo Lease MD" class="img-fluid">
    </div>
    <div class=" d-flex align-items-center col-12 col-md-6 d-none d-md-block">
      <ul class="d-flex align-items-center justify-content-end pe-4">
        <li>
          <a href="">Productos de arrendamiento</a> </li>
        <li><a href="">Nosotros</a></li>
        <li>
          <button class="btn btn-primary btn-btn-lease">CONTACTANOS</button>
        </li>
      </ul>
    </div>
  </div>
</div>
