/* You can add global styles to this file, and also import other style files */
@import './assets/scss/app';


// BOTONES
.btn-btn-lease{
    background-color: $bleudefrance !important;
    font-size: 15px !important;
    padding: 15px 20px !important;
}

.text--cg{
    color: $charleston-green;
}

.cards{
    background-color: white;   
    margin: 30px 0;
}

.bg--cultured{
    background-color: $cultured;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
